In [47]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

### EDA

In [48]:
df=pd.read_csv("Heart.csv")

In [49]:
df.head()

   Unnamed: 0  Age  Sex     ChestPain  ...  Slope   Ca        Thal  AHD
0           1   63    1       typical  ...      3  0.0       fixed   No
1           2   67    1  asymptomatic  ...      2  3.0      normal  Yes
2           3   67    1  asymptomatic  ...      2  2.0  reversable  Yes
3           4   37    1    nonanginal  ...      3  0.0      normal   No
4           5   41    0    nontypical  ...      1  0.0      normal   No

[5 rows x 15 columns]

In [27]:
df.shape

(303, 15)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    object
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          299 non-null    float64
 13  Thal        301 non-null    object
 14  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

In [28]:
df.duplicated().sum()

np.int64(0)

In [55]:
df.drop(columns=["ChestPain","Thal"], axis=1,inplace=True)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   RestBP      303 non-null    int64
 4   Chol        303 non-null    int64
 5   Fbs         303 non-null    int64
 6   RestECG     303 non-null    int64
 7   MaxHR       303 non-null    int64
 8   ExAng       303 non-null    int64
 9   Oldpeak     303 non-null    float64
 10  Slope       303 non-null    int64
 11  Ca          299 non-null    float64
 12  AHD         303 non-null    object
dtypes: float64(2), int64(10), object(1)
memory usage: 30.9+ KB

In [29]:
df.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [ ]:
# drop the rows with missing values
df.dropna(inplace=True)

In [58]:
df.reset_index(inplace=True, drop=True)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  299 non-null    int64
 1   Age         299 non-null    int64
 2   Sex         299 non-null    int64
 3   RestBP      299 non-null    int64
 4   Chol        299 non-null    int64
 5   Fbs         299 non-null    int64
 6   RestECG     299 non-null    int64
 7   MaxHR       299 non-null    int64
 8   ExAng       299 non-null    int64
 9   Oldpeak     299 non-null    float64
 10  Slope       299 non-null    int64
 11  Ca          299 non-null    float64
 12  AHD         299 non-null    object
dtypes: float64(2), int64(10), object(1)
memory usage: 30.5+ KB

In [ ]:
# convert the list of columns to int type
df[["Oldpeak","Ca"]]=df[["Oldpeak","Ca"]].astype(int)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  299 non-null    int64
 1   Age         299 non-null    int64
 2   Sex         299 non-null    int64
 3   RestBP      299 non-null    int64
 4   Chol        299 non-null    int64
 5   Fbs         299 non-null    int64
 6   RestECG     299 non-null    int64
 7   MaxHR       299 non-null    int64
 8   ExAng       299 non-null    int64
 9   Oldpeak     299 non-null    int64
 10  Slope       299 non-null    int64
 11  Ca          299 non-null    int64
 12  AHD         299 non-null    object
dtypes: int64(12), object(1)
memory usage: 30.5+ KB

In [63]:
df["AHD"]=df["AHD"].map({"Yes":1,"No":0}).astype(int)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  299 non-null    int64
 1   Age         299 non-null    int64
 2   Sex         299 non-null    int64
 3   RestBP      299 non-null    int64
 4   Chol        299 non-null    int64
 5   Fbs         299 non-null    int64
 6   RestECG     299 non-null    int64
 7   MaxHR       299 non-null    int64
 8   ExAng       299 non-null    int64
 9   Oldpeak     299 non-null    int64
 10  Slope       299 non-null    int64
 11  Ca          299 non-null    int64
 12  AHD         299 non-null    int64
dtypes: int64(13)
memory usage: 30.5 KB

In [65]:
df.head()

   Unnamed: 0  Age  Sex  RestBP  Chol  ...  ExAng  Oldpeak  Slope  Ca  AHD
0           1   63    1     145   233  ...      0        2      3   0    0
1           2   67    1     160   286  ...      1        1      2   3    1
2           3   67    1     120   229  ...      1        2      2   2    1
3           4   37    1     130   250  ...      0        3      3   0    0
4           5   41    0     130   204  ...      0        1      1   0    0

[5 rows x 13 columns]

In [66]:
df.shape

(299, 13)

In [67]:
df.columns

Index(['Unnamed: 0', 'Age', 'Sex', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR',
       'ExAng', 'Oldpeak', 'Slope', 'Ca', 'AHD'],
      dtype='object')

In [68]:
df.drop(columns=["Unnamed: 0"], inplace=True)

In [69]:
df.columns

Index(['Age', 'Sex', 'RestBP', 'Chol', 'Fbs', 'RestECG', 'MaxHR', 'ExAng',
       'Oldpeak', 'Slope', 'Ca', 'AHD'],
      dtype='object')

In [91]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score,f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [92]:
x=df.drop(columns=["AHD"], axis=1)

In [93]:
x

     Age  Sex  RestBP  Chol  Fbs  RestECG  MaxHR  ExAng  Oldpeak  Slope  Ca
0     63    1     145   233    1        2    150      0        2      3   0
1     67    1     160   286    0        2    108      1        1      2   3
2     67    1     120   229    0        2    129      1        2      2   2
3     37    1     130   250    0        0    187      0        3      3   0
4     41    0     130   204    0        2    172      0        1      1   0
..   ...  ...     ...   ...  ...      ...    ...    ...      ...    ...  ..
294   57    0     140   241    0        0    123      1        0      2   0
295   45    1     110   264    0        0    132      0        1      2   0
296   68    1     144   193    1        0    141      0        3      2   2
297   57    1     130   131    0        0    115      1        1      2   1
298   57    0     130   236    0        2    174      0        0      2   1

[299 rows x 11 columns]

In [94]:
y=df["AHD"]

In [95]:
y

0      0
1      1
2      1
3      0
4      0
      ..
294    1
295    1
296    1
297    1
298    1
Name: AHD, Length: 299, dtype: int64

In [96]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

In [97]:
scaler=StandardScaler()

In [98]:
xtrain_scaled=scaler.fit_transform(xtrain)
xtest_scaled=scaler.fit_transform(xtest)

In [104]:
model={
    "Logistic Regression": LogisticRegression(),
    "Naive Bayes": GaussianNB(),
    "Decision Tree": DecisionTreeClassifier(),
    "Support Vector Machine": SVC(kernel="rbf"),
    "K-Nearest Neighbors": KNeighborsClassifier()
}

In [105]:
result=[]

In [106]:
for name,m in model.items():
    m.fit(xtrain_scaled, ytrain)
    ypred=m.predict(xtest_scaled)
    acc=accuracy_score(ytest, ypred)
    f1=f1_score(ytest, ypred)
    result.append({"Model":name, "Accuracy":round(acc,2), "F1 Score":round(f1,2)})

In [107]:
result

[{'Model': 'Logistic Regression', 'Accuracy': 0.78, 'F1 Score': 0.75},
 {'Model': 'Naive Bayes', 'Accuracy': 0.83, 'F1 Score': 0.81},
 {'Model': 'Decision Tree', 'Accuracy': 0.77, 'F1 Score': 0.72},
 {'Model': 'Support Vector Machine', 'Accuracy': 0.87, 'F1 Score': 0.84},
 {'Model': 'K-Nearest Neighbors', 'Accuracy': 0.78, 'F1 Score': 0.73}]

In [108]:
import joblib
joblib.dump(model['Support Vector Machine'],"svm_heart.pkl")
joblib.dump(scaler,"scaler.pkl")
joblib.dump(x.columns.tolist(),"columns.pkl")

['columns.pkl']